<header>
    <%- include("../views/partials/header.ejs") %>
</header>


<head>
    <link rel="stylesheet" href="/style.css">
</head>


<body>
    <h1>ARE YOU SURE YOU WANT TO DELETE?!?!?!?!?</h1>
<img src=" <%= pictures.image %> " >
<h2> <%= pictures.caption %> </h2>
<h2> <%= pictures.date %> </h2>
<form method="POST" action="/pictures/<%= pictures._id %>?_method=DELETE"> 
        <input type="submit" value="Delete Forever">
</form>

</body>

<footer>
    <%- include("../views/partials/footer.ejs") %>
</footer>
