<%- include("../views/partials/header.ejs") %>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src=" <%= pictures.image %> " >
    <h2> <%= pictures.caption %> </h2>
    <h2> <%= pictures.date %> </h2>
    
</body>
</html>

<%- include("../views/partials/footer.ejs") %>