<header>
    <%- include("../views/partials/header.ejs") %>
</header>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<style>
    .white-box {
    		background-color: white; 
		}
</style>

<body>
    <img src=" <%= pictures.image %> " >
    <div class="white-box">
    <h2> <%= pictures.caption %> </h2>
    <h2> <%= pictures.date %> </h2>
    </div>  
        <a href="/2nds/<%= pictures._id %>/edit"> Click to make some changes.</a>
        <a href="/2nds/<%= pictures._id %>/delete"> Click to delete post.</a>
</body>

</html>

<footer>
    <%- include("../views/partials/footer.ejs") %>
</footer>
